*{
    margin: 0;
    padding: 0;
}


body, html{
    height: 100%;
}


.paralaxe{

/* l' image de fond*/
background: url(img/caraibes_martinique_boucaniers.jpg);
/* la hauteur de l' image */
height: 100%;
/*les proprieté qui vont crée l' effet paralaxe au scroll */
background-attachment: fixed; /* attache l' image par rapport a l' ecran afin d' eviter qu' elle ne defile au moment du scroll */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
 }

 div.scroll{
     height: 280px;
     font-size: 36px;
 }

 div.scroll p{
     margin: 0;
 }

#scroll-1 {
    background-image: -webkit-gradient(linear,
        left bottom,
        right bottom,
        color-stop(0, rgb(230, 18, 18)),
        color-stop(0, rgb(255, 202, 63)),
        color-stop(0, rgb(63, 201, 50)),
        color-stop(0, rgb(33, 54, 237)));
    background-image: -webkit-linear-gradient(right, rgb(230, 18, 18) 0%, rgb(255, 202, 63) 0%, hsl(115, 60%, 49%) 50%, rbg(33, 54, 237) 100%);
    background-image: -o-linear-gradient(right, rgb(230, 18, 18) 0%, rgb(255, 202, 63) 0%, rgb(63, 201, 50) 50%, rgb(33, 54, 237) 100%);
    background-image: -moz-linear-gradient(right, rgb(230, 18, 18) 0%, rgb(255, 202, 63) 0%, rgb(63, 201, 50) 50%, rgb(33, 54, 237) 100%);
    background-image: -ms-linear-gradient(right, rgb(230, 18, 18) 0%, rgb(255, 202, 63) 0%, rgb(63, 201, 50) 50%, rgb(33, 54, 237) 100%);
    background-image: linear-gradient(to right, rgb(230, 18, 18) 0%, rgb(255, 202, 63) 0%, rgb(63, 201, 50) 50%, rgb(33, 54, 237) 100%);
}

#scroll-2 {
    background-image: url(img/woodPlank.jpg);
}

#scroll-3 {
    background-image: -webkit-gradient(linear,
        left bottom,
        right bottom,
        color-stop(0, rgb(230, 18, 18)),
        color-stop(1, rgb(255, 202, 63)));
    background-image: -o-linear-gradient(right, rgb(230, 18, 18) 0%, rgb(255, 202, 63) 100%);
    background-image: -moz-linear-gradient(right, rgb(230, 18, 18) 0%, rgb(255, 202, 63) 100%);
    background-image: -webkit-linear-gradient(right, rgb(230, 18, 18) 0%, rgb(255, 202, 63) 100%);
    background-image: -ms-linear-gradient(right, rgb(230, 18, 18) 0%, rgb(255, 202, 63) 100%);
    background-image: linear-gradient(to right, rgb(230, 18, 18) 0%, rgb(255, 202, 63) 100%);
}

@media only screen and (max-device-width: 1366px){
    .paralaxe{
        background-attachment: scroll;
    }
}