ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

body {
  background: url(../img/ea446072-0447-431e-b522-cbfd7ca608c9.jpg) no-repeat
    center / 100% 100%;
  text-align: left;
  height: 1200px;
  width: 100;
}

p {
  text-align: right;
  padding: 100px;
  float: right;
  width: 50%;
  color: red;
}
