body {
  background: url(img/background.png);
}

header {
  background: purple;
  height: 70px;
}

.titre {
  color: white;
  float: left;
  margin-left: 3%;
  
}

ul a {
  float: right;
  color: white;
  text-decoration: none;
  margin: 8px;
}

.arc {
      margin-left: 731px;
  background: url(img/rainbow.png) no-repeat;
  height: 100px;

}

h2 {
  float: left;
  color: purple;
}



.border {
    border-radius: 4%;
  border: 1px solid black;
  text-align: center;
  height: 1191px;
  width: 82%;
  margin: 0 auto;
}

figure{
    display: inline-block;
    text-align: center;
}

figcaption{
    position: absolute;
    top: 85%;
    color: white;
    background: black;
    width: 15.7%;
    opacity: 0.6;
    
}

.trouver {
  float: left;
}

.elevage {
  float: right;
}

.gauche {
  float: left;
  width: 60%;
}

.droite {
  float: right;
  width: 30%;
  text-align: left;
  margin-left: 500px;
  margin-top: -400px;
}
