.contenu {
  background: linear-gradient(
    to left,
    #40a497,
    #6840a4
  ); /* cree un degrade lineaire*/
  width: 45em;
  height: 45em;
  margin: 0 auto;
  border-radius: 50%;
}
.contenu2 {
  width: 45em;
  height: 45em;
  margin: 0 auto;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    white,
    green
  ); /* cree un degrade circulaire */
}
.contenu3 {
  width: 45em;
  height: 45em;
  margin: 0 auto;
  border-radius: 50%;
  background: repeating-linear-gradient(
    to right,
    green,
    red,
    blue,
    green 200px
  );
}
.contenu4 {
  width: 45em;
  height: 45em;
  margin: 0 auto;
  border-radius: 50%;
  background: repeating-linear-gradient(
    to right,
    gray,
    black,
    gray,
    black 200px
  );
}
/* Pour un dégradé linéaire les direction possible sont: to left,
to right,
to top,to bottom
 * Pour un dégradé circulaire les direction possible sont: circle at top,
circle at center,
closest-corner(vers le coin le plus proche),
closest-side(vers le coin le plus éloigné),
farthest-corner(vers le coin le plus éloigné) farthest-side(vers le côté le plus éloigné) */
.contenu5 {
  background: repeating-linear-gradient(
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    purple
  );
  width: 45em;
  height: 45em;
  margin: 0 auto;
  linear-gradient: (45deg, blue, red);
  linear-gradient: (to left top, blue, red);
}
.contenu6 {
  height: 950px;
  width: 300px;
  background: radial-gradient(
    at 50% 100%,
    transparent 45%,
    hsl(0, 100%, 50%),
    hsl(51, 100%, 50%),
    hsl(102, 100%, 50%),
    hsl(153, 100%, 50%),
    hsl(204, 100%, 50%),
    hsl(255, 100%, 50%),
    hsl(306, 100%, 50%),
    transparent 70%
  );
}

